@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;500;700&display=swap");

.background {
  background-color: #ededed;
}
.head {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  margin-bottom: 40px;
}
.user-btn {
  border: 1px solid #d3b24d;
  border-radius: 5px;
  background-color: #ededed;
  padding: 0 15px;
  margin-bottom: 20px;
}
.user-btn:hover {
  background-color: #d3b24d;
  color: #fefefe;
  transition: 0.5s ease-in-out;
}
.serve {
  background-color: #ffffff;
  margin-top: 10px;
  padding: 5px;
  color: #aa8b1c;
}
.server {
  padding: 0 50px;
  padding-top: 13px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.parent {
  position: relative;
  padding: 0 50px;
  border-radius: 5px;
  margin-right: 25px;
  border: none;
  background-color: #eaeaea;
}
.child {
  position: absolute;
  font-size: larger;
  right: 150px;
  top: 130px;
}
.main-table {
  box-shadow: 0 0 3px;
  border-radius: 10px;
}
.wrap {
  height: 50px;
  background: #d3b24d;
  border-radius: 5px 5px 0px 0px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #fefefe;
}

tbody tr:nth-child(even) {
  background: rgba(254, 209, 15, 0.1);
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
tbody tr:nth-child(odd) {
  background-color: #ffffff;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.line {
  height: 40px;
}
.view {
  border: none;
  background-color: transparent;
}
.view-delete {
  color: #424242;
}
.view-delete:hover {
  color: red;
  transition: 0.5s ease-in-out;
}
.prev {
  margin: 0 10px;
  border: 0.5px solid #b5b5b4;
  padding: 2px 10px;
  color: #b5b5b4;
}
.begin {
  margin: 0 5px;
  border: 0.5px solid #b5b5b4;
  background-color: #aa8b1c;
  color: #fefefe;
  padding: 0 8px;
}
.end {
  margin: 0 5px;
  border: 0.5px solid #b5b5b4;
  padding: 0 8px;
}
.next {
  margin: 0 10px;
  border: 0.5px solid #b5b5b4;
  padding: 2px 12px;
}
